<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<style>

body{
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

</style>

</head>

<body>

<!-- return to homepage -->
<form class="inline-div" action="/home" method="GET">
    <input type="submit" value="LogoMaker Homepage" />
</form>

<!-- Go to gallery -->
<form class="inline-div" action="/gallery" method="GET">
    <input type="submit" value="Gallery" />
</form>

<!-- Go to help -->
<form class="inline-div" action="/help" method="GET">
    <input type="submit" value="Help" />
</form>

<!-- Go to about -->
<form class="inline-div" action="/about" method="GET">
    <input type="submit" value="About" />
</form>


<h1> Gallery </h1>

<img src="/static/example_1_logo.png">
<form action="/getGalleryExample" method="POST">
    <input id="example_1_button" type="submit" value="Example 1" name="example_1_button" />
</form>

</body>
</html>