<!doctype html>


<!--
display status message after uploading file
keep this here in case needed for file by file
upload
-->
<p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++)
                {
                    //alert(messages[i]);
                    //document.write(Date());
                    document.write(messages[i]);
                }

            </script>
        {% endif %}
    {% endwith %}
</p>


<p>Upload Seq File</p>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<form action = "/" method = "POST" enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit"/>
</form>

<!-- textarea side by side which will get populated in the upload page -->
<div class="inline-div">
    <h2 align="center">Input Data</h2>
    <textarea cols="50" class="inline-txtarea"></textarea>
</div>
<div class="inline-div">
<h2 align="center">Parameter Values</h2>
    <textarea cols="50" class="inline-txtarea"># description of parameter 1
logo_type: weight_logo
# description of parameter 2
logo_style: classic
# description of parameter 3
color_scheme: Oranges
# description of parameter 4
ylim: [0,2]
# description of parameter 5
ylabel: Information
# description of parameter 6
resolution: 1080
# description of parameter 7
fig_size: [8,2]</textarea>
</div>

<p>Upload Input File and Parameters File</p>
<form action="/uploadMultiple" method=post enctype=multipart/form-data>
    <input type=file name="uploadedFile[]" multiple>
    <input type=submit value=Upload>
    <!-- <button type=button value=Uploads onclick="document.getElementById('demo').innerHTML = Date()">Upload</button> -->
</form>





