<!doctype html>
   <body>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">


<!-- display status message after uploading file -->
<h2>Files Uploaded</h2>
<p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                // display uploaded files as a list
                document.write("<ul>")
                for (var i=0; i<messages.length; i++)
                {
                    document.write("<li>"+messages[i]+"</li>");
                }
                document.write("</ul>")

            </script>
        {% endif %}
    {% endwith %}
</p>

<h2>Input Params</h2>
<p>
  {% for params in paramsTable %}
    {{ params|safe }}
  {% endfor %}
</p>

<h2>Uploaded Seq Data</h2>
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}


<p> Rendering figure after upload</p>
    <!--
        the following method routes to uploadedFig defined in flask_app
        the argMat is filled via "mat"; mat is passed in to the upload.html
        file when the file is uploaded.

-->
<form action="/updateLogo" method="post">
    <button type="submit" value="Do Something" >Change to Info logo</button>
</form>
<!-- Draw the logo here -->
<img src="{{ url_for('uploadedFig',matType=matType,logoType=logoType,argColorScheme=colorScheme) }}">



</body>