<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
 $(function(){
    // on hover, show descriptions
    $('[data-toggle="popover"]').popover({trigger:'hover'});
    // onclick append to parameters
    //$('[data-toggle="popover"]').click
    $('[data-toggle]').click
    //$('[data]').click
    (
        function()
        {
            var parameter = $(this).attr("data");
            var defaultValue = $(this).attr("data-target");
            document.getElementById("para").innerHTML = parameter;
            //console.log(parameter)
            // Need to check this so download dropdown doesn't interfere with optional style parameter dropdowns.
            if(parameter!=undefined)
            {
                $('#paramsTextAreaId').append(parameter+":"+defaultValue+"\n");
            }
        }
    );
});

function toggleParams(id) {
    var x = document.getElementById(id);

    if (x.style.display === "block")
    {
        x.style.display = "none";
    } else
    {
    	x.style.display ="block";
    }
}

</script>

<style>

body{
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.button-container {
    width: 850px;
}

.button-container > button {
    width: 250px;
    text-overflow: ellipsis;
}

#drawLogoButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

#drawLogoButton:hover {
    background-color: #008CBA;
    color: white;
}

</style>

<!-- style sheet -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- logomaker graphic -->
<img src="/static/logo.png" width="338" height="70">
<br>
<!-- return to homepage -->
<form class="inline-div" action="/home" method="GET">
    <input type="submit" value="LogoMaker Homepage" />
</form>

<!-- Go to gallery -->
<form class="inline-div" action="/gallery" method="GET">
    <input type="submit" value="Gallery" />
</form>

<!-- Go to help -->
<form class="inline-div" action="/help" method="GET">
    <input type="submit" value="Help" />
</form>

<!-- Go to about -->
<form class="inline-div" action="/about" method="GET">
    <input type="submit" value="About" />
</form>

<br>

<h2 align="left">Data</h2>
<div class="inline-div">

<input form="inputForm" type = "file" name = "file" />
<input form="inputForm" type="submit" value="Upload Data" name="dataUploadButton">

<!-- Input display text box -->

<form action="/" method="POST">
<textarea name="inputTextArea" rows="100" cols="50" class="inline-txtarea">{% for row in range(inputDataLength) %}{{ displayInput[row][0] | safe }}{% endfor %}
</textarea>
<!-- <input type="submit" value="Upload Data" name="dataUploadButton"> -->
</form>
</div>

<div class="inline-div">

<textarea cols="50" rows="7" style="margin: 0px; width: 400px; height: 125px;" readonly>
Help
Please select a file format and hit the  upload data button.
Or Paste data and hit the update logo button
</textarea>

<!-- data upload form -->
<br>
Select File Type
<form id="inputForm" action = "/" method = "POST" enctype = "multipart/form-data">

    {% if radioState == 'fasta' %}
    <input id="fasta_id1" type="radio" name="fileformat" value="fasta" checked="checked"/>
    FASTA file
    <br>
    <input id="meme_id1" type="radio" name="fileformat" value="meme" />
    MEME file
    <br>
    <input id="csv_id1" type="radio" name="fileformat" value="csv" />
    CSV file
    <br>
    {% elif radioState == 'meme' %}
    <input id="fasta_id2" type="radio" name="fileformat" value="fasta" />
    FASTA file
    <br>
    <input id="meme_id2" type="radio" name="fileformat" value="meme" checked="checked"/>
    MEME file
    <br>
    <input id="csv_id2" type="radio" name="fileformat" value="csv" />
    CSV file
    <br>
    {% elif radioState == 'csv' %}
    <input id="fasta_id3" type="radio" name="fileformat" value="fasta" />
    FASTA file
    <br>
    <input id="meme_id3" type="radio" name="fileformat" value="meme"/>
    MEME file
    <br>
    <input id="csv_id3" type="radio" name="fileformat" value="csv" checked="checked"/>
    CSV file
    <br>
    {% else %}
    <input id="fasta_id4" type="radio" name="fileformat" value="fasta" checked="checked"/>
    FASTA file
    <br>
    <input id="meme_id4" type="radio" name="fileformat" value="meme" />
    MEME file
    <br>
    <input id="csv_id4" type="radio" name="fileformat" value="csv" />
    CSV file
    <br>
    {% endif %}

    <!--
    <input type = "file" name = "file" />
    <input type="submit" value="Upload Data" name="dataUploadButton">
    -->

</form>

</div>

<br>

<!-- Parameters text box -->
<h2 align="left">Style</h2>

<!-- Parameters upload form -->
<form action = "/" method = "POST" enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type="submit" value="Upload Parameters" name="parameterUploadButton">
</form>

<div class="inline-div">
<form id="parametersForm" action="/" method="POST">
<textarea id="paramsTextAreaId" name="paramsTextArea" rows="100" cols="50" class="inline-txtarea">{% for row in range(paramsLength) %}{{ displayParams[row][0] | safe }}{% endfor %}
</textarea>
<!-- update button -->
<!-- <input type="submit" id="btnSubmit" value="Update logo" name="parameterButton"> -->
</form>
</div>

<div class="inline-div">
<textarea cols="50" rows="7" style="margin: 0px; width: 400px; height: 200px;" readonly>
Help
Default parameters currently selected.
Other helpful text about parameters here...
</textarea>
</div>

<br>

<!-- real file name -->
{% if realUploadedFileName|length>0 %}
<br>
<h3> Uploaded {{realUploadedFileName}} </h3>
{% endif %}

<!-- added parameter: append only works if the following is implemented -->
<p hidden id="para"></p>

<h2>Logo</h2>


<div class="inline-div">

<!-- Display the logo -->
{% if logoFailure|length == 0 %}
    <p>
    {% if result != None %}
    <img src="data:image/png;base64,{{ result }}">
    {% endif %}
    </p>
{% elif logoFailure|length>0 %}
    <h2 align="center"><font color="red"> {{logoFailure}} </font></h2>
{% endif %}

</div>

<div class="inline-div">
<!-- draw logo button -->
<input id="drawLogoButton" type="submit" form="parametersForm" id="btnSubmit" value="Draw logo" name="parameterButton" />
<br>
<!-- logo download button -->
<div class="inline-div" align="left">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Download Logo
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('download_logo',imageFormat='pdf') }}" download="logo.pdf"><button>pdf</button></a></li>
        <li><a href="{{ url_for('download_logo',imageFormat='png') }}" download="logo.png"><button>png</button></a></li>
        <li><a href="{{ url_for('download_logo',imageFormat='ps') }}" download="logo.ps"><button>ps</button></a></li>
        <li><a href="{{ url_for('download_logo',imageFormat='svg') }}" download="logo.svg"><button>svg</button></a></li>
    </ul>
  </div>
</div>
<br>

<!-- Feedback -->
<h3 align="left">Feedback</h3>
<p style="overflow-y:scroll;overflow-x:scroll;width=300px">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++)

                {
                    document.write(messages[i]);
                }

            </script>
        {% endif %}
    {% endwith %}
</p>
</div>


<br>
<!-- Parameter Section Buttons -->
<div class="button-container">
<h2> Optional Style Parameters</h2>
{% for key,value in sectionDict.iteritems() -%}
{% set sectionButtonId = key|replace(" ", "_") %}
<button onclick="toggleParams('{{ sectionButtonId }}')">{{ key }}<span class="caret"></span>
<!-- hide parameter list unless button is clicked -->
<style>
#{{ sectionButtonId }} {
display : none;
}
</style>

<!-- list of parameters associated with section -->
<table id="{{ sectionButtonId }}">
<tr><th style="width:300px;">{{ key }}</th></tr>
          <!-- <br> -->
          {% for val in value %}
                {#  {{ val[0] }} gives parameter names #}
                {#  {{ val[1] }} gives default values #}
                {#  {{ val[2] }} gives descriptions #}
                {# {{ val[0] }}:{{ val[1] }} #}
                <tr><td>
                <a id="{{ val[0] }}" href="#" data-toggle="popover" title="Parameter Description" data-content="{{ val[2] }}" data="{{ val[0] }}" data-target="{{ val[1] }}">{{ val[0] }}</a>
                </td></tr>
          <!-- <br> -->
          {% endfor %}
</table>
</button>
{%- endfor %}
</div>

<!-- code for individual download buttons -->
<!--
{#
<div class="container" align="left">
    <a href="{{ url_for('download_logo',imageFormat='pdf') }}" download="logo.pdf"><button>pdf</button></a>
    <a href="{{ url_for('download_logo',imageFormat='png') }}" download="logo.png"><button>png</button></a>
    <a href="{{ url_for('download_logo',imageFormat='ps') }}" download="logo.ps"><button>ps</button></a>
    <a href="{{ url_for('download_logo',imageFormat='svg') }}" download="logo.svg"><button>svg</button></a>
</div>
#}
-->



</body>
</html>