<!doctype html>
   <body>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<!--
  <h1>Uploaded Seq Data</h1>
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
-->
<!-- textarea side by side, the 0 after the row represents column number -->
<div class="inline-div">
    <h2 align="center">Uploaded Data</h2>
    <textarea cols="50" class="inline-txtarea">{% for row in range(inputDataLength) %}{{ displayInput[row][0] }}{% endfor %}</textarea>
</div>
<div class="inline-div">
<h2 align="center">Parameter Values</h2>
    <textarea cols="50" class="inline-txtarea"></textarea>
</div>

<!-- display status message after uploading file -->
<h2>Files Uploaded</h2>
<p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                // display uploaded files as a list
                document.write("<ul>")
                for (var i=0; i<messages.length; i++)
                {
                    document.write("<li>"+messages[i]+"</li>");
                }
                document.write("</ul>")

            </script>
        {% endif %}
    {% endwith %}
</p>

<p> Rendering figure after upload</p>
    <!--
        the following method routes to uploadedFig defined in flask_app
        the argMat is filled via "mat"; mat is passed in to the upload.html
        file when the file is uploaded.

-->
<img src="{{ url_for('uploadedFig',matType=matType,logoType=logoType,argColorScheme=colorScheme) }}">

<form action="/updateLogo" method="post">
    <button type="submit" value="Do Something" >Change to Info logo</button>
</form>

<form action="{{url_for('updateLogoD',argColorScheme='Blues')}}" method="post">
    <button type="submit" value="Do Something" >Change to Info logo D</button>
</form>

<form action="/updateLogo" id="textform" method="post">
    <textarea name="paramsText">Hello World!</textarea>
    <input type="submit" value="Send">
</form>


<!--
<p>{{matPassedToUpload}}</p>
<p>{{logoType}}</p>
<p>{{matType}}</p>
-->

</body>